<%- include('../../layouts/head'); %>
   <%- include('../../layouts/startpagecontent'); %>
<div class="card">
    <div class="card-header d-flex justify-content-between">
       <div class="header-title">
          <h4 class="card-title">Create Collection</h4>
       </div>
    </div>
    <div class="card-body">
                <div class="collapse" id="form-element-1">
                        <div class="card">
                        <kbd class="bg-dark"><pre id="basic-form" class="text-white">
                        </div>
                </div>
                      <!-- Entry Points -->
                      <form method="post" action="/admin/customer/create">
                            <div class="form-group">
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Customer:</label>
                                    </div>
                                    <select name="customer" id="customer" class="custom-select">
                                        <option value="Choose Customer">Choose Customer</option>
                                        <% for(var i=0; i < data.length; i++) { %>
                                            <option value="<%= data[i].id %>"><%= data[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Customer Advance: &nbsp;<span id="advance">0</span></label>
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Payment Type:</label>
                                </div>
                                <select name="paymenttype" id="" class="custom-select">
                                        <option value="cash">CASH</option>
                                        <option value="advance">ADVANCE</option>
                                </select>
                            </div>
                          </div>
                         <div class="form-group">
                           <label for="Email">Amount:</label>
                           <input type="text" class="form-control" name="email" id="Email">
                         </div>
                         <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      </form>
                      <br>
                      <a href="/admin/dashboard"><button type="submit" class="btn bg-warning">Go To Home</button></a>
                   <!-- End points -->
            </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#customer").on('change',() => {
                $.ajax({
                    url: "http://127.0.0.1:4000/api/extra/getAdvance/"+$("#customer").val(),
                    method:"GET"
                  }).done(function(data) {
                      $("#advance").text(data.advance)
                  });
            })
         })
    </script>

         <%- include('../../layouts/endpagecontent'); %>
<%- include('../../layouts/footer'); %>