<%- include('../../../layouts/head'); %>
   <%- include('../../../layouts/startpagecontent'); %>
<div class="card">
    <div class="card-header d-flex justify-content-between">
       <div class="header-title">
          <h4 class="card-title">Create Customer</h4>
       </div>
    </div>
    <div class="card-body">
       <div class="collapse" id="form-element-1">
            <div class="card">
               <kbd class="bg-dark"><pre id="basic-form" class="text-white">
            </div>
       </div>
                      <!-- Entry Points -->
                      <form method="post" action="/admin/sale/credit/create">
                         <div class="form-group">
                           <div class="input-group mb-4">
                              <div class="input-group-prepend">
                                 <label class="input-group-text" for="inputGroupSelect01">Customer:</label>
                              </div>
                              <select name="customer" id="" class="custom-select">
                                 <% for(var i=0; i < datacustomer.length; i++) { %>
                                    <option value="<%= datacustomer[i].id %>"><%= datacustomer[i].name %></option>
                                 <% } %>
                              </select>
                              </div>
                         </div>
                         <div class="form-group">
                           <div class="input-group mb-4">
                           <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Item:</label>
                           </div>
                           <select name="item" id="" class="custom-select">
                              <% for(var i=0; i < dataItems.length; i++) { %>
                                 <option value="<%= dataItems[i].id %>"><%= dataItems[i].code %></option>
                              <% } %>
                           </select>
                           </div>
                         </div>
                         <div class="form-group">
                           <label for="PhoneNumber">Item Quantity:</label>
                           <input type="text" class="form-control" name="qty" id="PhoneNumber">
                         </div>
                         <div class="form-group">
                           <label for="Type">Customer ItemPrice:</label>
                           <input type="text" class="form-control" name="price" id="Type">
                         </div>
                         <div class="form-group">
                            <label for="address">Customer Subtotal:</label>
                            <input type="text" class="form-control" name="netprice" id="address">
                         </div>
                         <div class="form-group">
                           <label for="address">Payment Type:</label>
                           <select name="type" id="" class="custom-select">
                                 <option value="CREDIT">CREDIT</option>
                                 <option value="DEBIT">DEBIT</option>
                           </select>
                        </div>
                         <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      </form>
                      <br>
                      <a href="/admin/dashboard"><button type="submit" class="btn bg-warning">Go To Home</button></a>
                   <!-- End points -->
            </div>
    </div>
         <%- include('../../../layouts/endpagecontent'); %>
<%- include('../../../layouts/footer'); %>