<%- include('../../../layouts/head'); %>

    <%- include('../../../layouts/startpagecontent'); %>

    <div class="card">
        <div class="card-header d-flex justify-content-between">
           <div class="header-title">
              <h4 class="card-title">View Customer</h4>
           </div>
           <div class="header-title">
            <a href="/admin/sale/credit/create"><button type="submit" class="btn bg-primary">Create Sale</button></a>
           </div>
        </div>
        <div class="card-body">
           <div class="collapse" id="form-element-1">
                 <div class="card"><kbd class="bg-dark"><pre id="basic-form" class="text-white"></div>
           </div>
                      <!-- Entry Points -->
                      <table class="table">
                        <thead>
                           <tr>
                              <th scope="col">#</th>
                              <th scope="col">ID</th>
                              <th scope="col">ITEM</th>
                              <th scope="col">CUSTOMER</th>
                              <th scope="col">PRICE</th>
                              <th scope="col">NET PRICE</th>
                              <th scope="col">QUANTITY</th>
                              <th scope="col">PRINT</th>
                              <th scope="col">EDIT</th>
                              <th scope="col">DELETE</th>
                           </tr>
                        </thead>
                        <tbody>
                           <% for(var i=0; i < data.length; i++) { %>
                              <tr>
                                 <th scope="row"><%= i+1 %></th>
                                 <td><%= data[i].id %></td>
                                 <td><%= data[i].item.code %></td>
                                 <td><%= data[i].customer.name %></td>
                                 <td><%= data[i].itemprice %></td>
                                 <td><%= data[i].netprice %></td>
                                 <td><%= data[i].quantity %></td>
                                 <td><a href="/admin/sale/credit/invoice/<%= data[i].id %>"><button type="submit" class="btn bg-primary">RECORD</button></a></td>
                                 <td><a href="/admin/sale/credit/update/<%= data[i].id %>"><button type="submit" class="btn bg-warning">EDIT</button></a></td>
                                 <td><a href="#"><button type="submit" class="btn bg-danger">DELETE</button></a></td>
                              </tr>
                           <% } %>
                        </tbody>
                        </table>
                <!-- End points -->
            </div>
    </div>

            <%- include('../../../layouts/endpagecontent'); %>


<%- include('../../../layouts/footer'); %>